.inicio {
    text-align: center;
    height: 80vh;
}

section {
    /* background: #c0c0aa;
    background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);
    background: linear-gradient(to right, #1cefff, #c0c0aa); */
    background-image: url('https://uploads-ssl.webflow.com/5f2c07287a7a746048684529/612cae6ebfd2f367c6e7cfa8_1_uGRvXkzzytZ-8YxKaxYEBA.png');
}