<!-- <div class="container">
    <br>
    <h1>Listado de Usuarios</h1>
    <h3 *ngIf="listaUsuarios.length > 5">Usuarios totales: {{listaUsuarios.length}}</h3>
    <hr>
    <input type="text" [(ngModel)] = "texto" (ngModelChange)="onChange($event)">

    <app-inicio></app-inicio>

    <div class="row">
        <div *ngFor="let usuario of listaUsuarios" class="col-md-4">
            <app-card-copy [user] = "usuario"></app-card-copy>
        </div>
    </div>
</div> -->

<section>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>